<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <title>Kinect.PRO </title>
    <script src="/js/dependencies/jquery.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/styles/angular-toastr.css">
    <link rel="stylesheet" href="/styles/bootstrap.3.1.1.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/angular.1.3.js"></script>
    <script src="/js/dependencies/angular-toastr.js"></script>
    <script src="/js/dependencies/bootstrap.js"></script>
    <script src="/js/dependencies/compareTo.module.js"></script>
    <script src="/js/public/signup/SignupModule.js"></script>
    <script src="/js/private/dashboard/DashboardModule.js"></script>
    <script src="/js/public/homepage/HomepageModule.js"></script>
    <script src="/js/private/dashboard/DashboardController.js"></script>
    <script src="/js/public/homepage/HomepageController.js"></script>
    <script src="/js/public/signup/SignupController.js"></script>
    <script src="/js/script.js"></script>
    <!--Added this so the client has access to the csrf tag and it's grabbed first service side on every page -->
    <script type="text/javascript">
    window.SAILS_LOCALS = {
      _csrf: '<%= _csrf %>',
      me: <%- JSON.stringify(me) %>
    };
    </script>
  </head>
  <body ng-app="DashboardModule" ng-controller="DashboardController" ng-cloak>


  <!-- container = Fixed-width container container-fluid = full-width -->
    <div class="container-fluid"  ng-init="getProjects(<%=me.id%>)" >
      <!-- Creates the navbar -->
      <nav class="navbar navbar-default navbar-inverse">
        <!-- This creates the mechanism for collapse button -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
        <!-- This controls the number of lines in the image when the nav collapse -->
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <!-- This is the brand on the left-hand side. -->
        <a class="navbar-brand" href="/#">Kinect.PRO  -   <%=me.name%></a>
        <!-- This is what is the above collapse button points to when the mark-up below is collapsed -->
        <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">

          <!-- This is what "styles" the li's as navbar items -->
          <ul class="nav navbar-nav navbar-right">
            <!-- navbar-right pulls this element right -->
            <!-- Using ng-show instead of ng-if because we need this mark-up to be in the dom when signup controller
            fires.  If it's not there (which it wouldn't be in the case of ng-if) then the scope of the signup
            controller will not be tied to this element. -->
            <li>
              <a href="/logout">Sign-out</a>
            </li>
            <!-- <a ng-controller="signinController" class="btn btn-default navbar-btn navbar-right" href="#" ng-if="!isAuthenticated">sign-in</a> -->
            <!-- Using ng-show instead of ng-if because we need this mark-up to be in the dom when signup controller
            fires.  If it's not there (which it wouldn't be in the case of ng-if) then the scope of the signup
            controller will not be tied to this element. -->
          </ul>
        </div>
      </nav>
      <div class="btn btn-default" id="project">Add project</div>
      <!--<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>-->


      <center>
      <h1>Your projects at Kinect.PRO</h1>
      </center>
      <div class="col-sm-6 projects">
        <table class="table table-bordered" >
          <thead>
          <tr>
            <th>#</th>
            <th>Project</th>
            <th>Description</th>
          </tr>
          </thead>
          <tbody ng-repeat="Project in projects">
          <tr>
            <td>{{Project.project_id}}</td>
            <td><a href="#" ng-click="getIssues(Project.project_id)">{{Project.project_name}}</a></td>
            <td><a href="#" ng-click="openProject()">{{Project.description}}</a><span id="newIssue"onclick="newIssue()" ng-click="issueProject(Project.project_id)"  class="glyphicon glyphicon-plus pull-right" aria-hidden="true"></span></td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="col-sm-6" ng-show="issues.length != 0 && issues">
        <table class="table table-bordered" >
          <thead>
          <tr>
            <th>#</th>
            <th>Tracker</th>
            <th>Subject</th>
          </tr>
          </thead>
          <tbody ng-repeat="issue in issues" >
          <tr>
            <td>{{issue.id}}</td>
            <td>{{issue.tracker}}</td>
            <td onclick="issue()"><a href="#" ng-click="openIssue(issue.id)">{{issue.subject}}</a></td>

          </tr>

          </tbody>
        </table>

      </div>


<!--  Issue modal window  -->
    </div>
  <div class="modal fade bs-example-modal-lg" tabindex="-1" id="myModal" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{issue[0].tracker}} # {{issue[0].id}}</h4>
        </div>
        <div class="modal-body">
          {{issue[0].subject}}
          <!--<input ng-model="forgotMail" type="email" placeholder="email" name="email" class="form-control">-->

        </div>

      </div>

    </div>
  </div>
  <!--  Issue modal window end -->

  <!--  Create project modal window  -->

  <div class="modal fade bs-example-modal-lg" tabindex="-1" id="addProject" role="dialog" aria-labelledby="myLargeModalLabel" ng-init="getUsers()">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add project</h4>
        </div>
        <div class="modal-body">
            <div class="row">
              <div class="control-group form-group col-md-6">
                <label>Project name</label>

                <!-- For this input field make it required, and have a max length of 25 -->
                <input type="text" class="form-control" placeholder="name of your project" ng-model="newProjectTitle" ng-maxlength="50" required>
                <span class="help-block has-error" ng-if="addProject.name.$dirty">
            <span ng-show="addProject.name.$error.required">Project name is required.</span>
            <span ng-show="addProject.name.$error.maxlength">The name of project cannot be more than 50 characters.</span>
          </span>
              </div>

              <div class="dropdown col-sm-6">
                <label>Project developer</label>
                <select class="form-control" id="sel1" ng-model="selectedUser">
                  <option ng-repeat="user in users" >{{user.name}}</option>
                </select>
              </div>

              <div class="control-group form-group col-md-12">
                <label>Description of project</label>
                <input type="text" class="form-control" placeholder="" ng-model="newProjectDescription">
          </span>
              </div>
            <br/>
              <div class="col-sm-4 col-sm-offset-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit" ng-disabled="((newProjectTitle == null) || (newProjectDescription == null) || (selectedUser == null))" ng-click="addProject()">
              <span>Add Project</span>
              <!--<span class="overlord-loading-spinner fa fa-spinner" ng-show="signupForm.loading" ></span>-->
              <!--<span ng-show="signupForm.loading">Preparing your new project...</span>-->
            </button>
                </div>
            </div>

        </div>

      </div>

    </div>
  </div>
  <!--  Create project modal window  end -->

  <!--  Create issue modal window  -->

  <div class="modal fade bs-example-modal-lg" tabindex="-1" id="addIssue" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add Track</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="control-group form-group col-md-6">
              <label>Tracker</label>
              <select class="form-control" id="sel1" ng-model="tracker">
                <option></option>
                <option>Issue</option>
                <option>Feature</option>
                <option>PM</option>
                <option>Support</option>
              </select>
            </div>

            <div class="dropdown col-sm-6">
              <label>Assignee</label>
              <select class="form-control" id="sel1" ng-model="selectedUser">
                <option ng-repeat="user in users" >{{user.name}}</option>
              </select>
            </div>

            <div class="control-group form-group col-md-12">
              <label>Description</label>
              <input type="text" class="form-control" placeholder="" ng-model="newIssueDescription">
              </span>
            </div>
            <br/>
            <div class="col-sm-4 col-sm-offset-4">
              <button class="btn btn-primary btn-lg btn-block" type="submit" ng-disabled="((tracker == null) || (newIssueDescription == null) || (selectedUser == null))" ng-click="addIssue()">
                <span>Add Track</span>
                <!--<span class="overlord-loading-spinner fa fa-spinner" ng-show="signupForm.loading" ></span>-->
                <!--<span ng-show="signupForm.loading">Preparing your new project...</span>-->
              </button>
            </div>
          </div>

        </div>

      </div>

    </div>
  </div>
  <!--  Create issue modal window  end -->




  </body>
</html>
